<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body class="dashboard-page">
        <div class="dashboard">
                    <div class="header">
                        <h1>My Dashboard</h1>
                        <p>stay organized. stay productive.</p>
                    </div>

                    <div class="date-box">
                        <h2>Today's Date</h2>
                        <p class="date" id="currentDate"></p>
                    </div>

                    <div class="add-task">
                        <h2>Add a New Task</h2>
                        <form class="form-container" action="/dashboard" method="POST">
                            <input type="text" name="task" id="taskInput" placeholder="enter your task..." >
                            <button id="addBtn">Add</button>
                        </form>
                    </div>

                    <div class="todo-list">
                        <h2>My To Do List</h2>
                        <ul id="taskList">
                        {% if tasks %}

                            {% for task in tasks %}
                                <li class="task">
                                    <input type="checkbox">
                                    <label>{{ task.task }}</label>
                                    <form action="/delete" method="POST">
                                        <input type="hidden" name="id" value="{{ task.id }}">
                                        <button type="submit" class="delete-btn">delete</button>
                                    </form>
                                </li>
                            {% endfor %}

                        {% else %}

                            <li class="empty-message">
                                No tasks yet. Add one above!
                            </li>

                        {% endif %}
                        </ul>

                    </div>
        </div>

        <script>
        const dateElement = document.getElementById('currentDate');
        const today = new Date();
        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        dateElement.textContent = today.toLocaleDateString('en-US', options);
   </script>
    </body>
</html>